[Unit]
Description=grouperserve microservice
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a grouperserve
ExecStop=/usr/bin/docker stop -t 2 grouperserve

[Install]
WantedBy=default.target
